<app-wrapper-layout>
  <app-center-layout>
    <section
      id="create-mood-container"
      class="relative min-h-[460px] min-w-[350px] max-w-[500px] justify-between bg-white p-5 shadow-[4px_8px_6px_0px_rgba(0,_0,_0,_0.1)] before:absolute before:left-2 before:z-[-1] before:block before:h-[450px] before:w-[350px] before:bg-primary md:min-h-[470px] md:before:h-[460px] md:before:w-[500px]"
    >
      @switch (this.createMoodStep()) { @case (1) {
      <h1 class="my-6 text-4xl text-center">
        Describe tu estado de ánimo actual
      </h1>

      <section class="mt-10">
        <h2 class="mb-4 text-2xl text-center">{{ moodState() }}</h2>
        <app-range-input
          (newValue)="getMoodScore($event)"
          [inputRangeValue]="this.moodScore()"
        />
      </section>

      @if (this.sliderTouched()) {
      <section class="mt-10">
        <button
          class="w-full bg-primary text-white p-4 rounded-md"
          (click)="nextStep()"
        >
          Siguiente
        </button>
      </section>
      } } @case (2) {
      <h1 class="my-6 text-4xl text-center">
        ¿Que emociones describen mejor ese estado de animo?
      </h1>
      <section class="mt-10">
        <div class="flex flex-wrap gap-3 justify-center">
          @for (item of [1,3,4,5,6]; track $index) {
          <p
            class="inline-block border-2 px-6 py-2 border-primary rounded-[90px]"
          >
            <span>Emotion 1</span>
          </p>
          }
        </div>
        <section class="mt-10 flex gap-2">
          <button
            class="w-full bg-white border border-primary p-4 rounded-md"
            (click)="previousStep()"
          >
            Anterior
          </button>
          <button
            class="w-full bg-primary text-white p-4 rounded-md"
            (click)="nextStep()"
          >
            Siguiente
          </button>
        </section>
      </section>
      } @case (3) {
      <h1 class="my-6 text-4xl text-center">
        ¿Algún contexto más que quieras añadir?
      </h1>
      <section class="mt-10">
        <textarea
          class="w-full min-h-[150px] p-4 bg-fill"
          placeholder="Descripcion..."
        ></textarea>
      </section>
      <section class="mt-10 flex gap-2">
        <button
          class="w-full bg-white border border-primary p-4 rounded-md"
          (click)="previousStep()"
        >
          Anterior
        </button>
        <button class="w-full bg-primary text-white p-4 rounded-md">
          Registrar
        </button>
      </section>
      } }
    </section>
  </app-center-layout>
</app-wrapper-layout>
