<section
  id="register-form-container"
  class="relative flex min-h-[460px] min-w-[350px] flex-col justify-between bg-white p-5 shadow-[4px_8px_6px_0px_rgba(0,_0,_0,_0.1)] before:absolute before:left-2 before:z-[-1] before:block before:h-[450px] before:w-[350px] before:bg-primary md:min-h-[470px] md:before:h-[460px]"
>
  <div
    id="register-form-title"
    class="flex flex-col justify-center items-center mb-8"
  >
    <h2 class="text-[34px] md:text-[40px] font-bold text-primary">Registro</h2>
    <p class="font-bold">Crea una nueva cuenta</p>
  </div>
  @if (formError) {
  <div class="flex justify-center items-center">
    <p class="text-red">{{ formError }}</p>
  </div>
  }
  <div id="register-form-input">
    <form
      id="register"
      #registerForm="ngForm"
      (ngSubmit)="onRegister(registerForm)"
    >
      <div
        class="flex gap-3 bg-fill p-4 mb-4 border-2 border-t-fill border-b-primary border-x-fill"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path
            d="M10 10C11.5155 10 12.969 9.47322 14.0406 8.53553C15.1122 7.59785 15.7143 6.32608 15.7143 5C15.7143 3.67392 15.1122 2.40215 14.0406 1.46447C12.969 0.526784 11.5155 0 10 0C8.48448 0 7.03103 0.526784 5.95939 1.46447C4.88775 2.40215 4.28571 3.67392 4.28571 5C4.28571 6.32608 4.88775 7.59785 5.95939 8.53553C7.03103 9.47322 8.48448 10 10 10ZM7.95982 11.875C3.5625 11.875 0 14.9922 0 18.8398C0 19.4805 0.59375 20 1.32589 20H18.6741C19.4062 20 20 19.4805 20 18.8398C20 14.9922 16.4375 11.875 12.0402 11.875H7.95982Z"
            fill="#89ADAD"
          />
        </svg>
        <input
          id="register-username"
          type="text"
          placeholder="Nombre de usuario"
          class="appearance-none bg-fill w-full"
          name="username"
          ngModel
          #userInput="ngModel"
          required
        />
      </div>
      @if (userInput.touched && !userInput.valid) {
      <p class="my-2 text-red">Introduce tu nombre de usuario.</p>
      }
      <div
        class="flex gap-3 bg-fill p-4 mb-4 border-2 border-t-fill border-b-primary border-x-fill"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <path
            d="M6.42857 5.625V7.5H13.5714V5.625C13.5714 3.89844 11.9732 2.5 10 2.5C8.02679 2.5 6.42857 3.89844 6.42857 5.625ZM3.57143 7.5V5.625C3.57143 2.51953 6.45089 0 10 0C13.5491 0 16.4286 2.51953 16.4286 5.625V7.5H17.1429C18.7188 7.5 20 8.62109 20 10V17.5C20 18.8789 18.7188 20 17.1429 20H2.85714C1.28125 20 0 18.8789 0 17.5V10C0 8.62109 1.28125 7.5 2.85714 7.5H3.57143Z"
            fill="#89ADAD"
          />
        </svg>
        <input
          id="register-password"
          type="password"
          placeholder="Contraseña"
          class="active:appearance-none bg-fill w-full"
          name="password"
          ngModel
          required
          #pwInput="ngModel"
        />
      </div>
      @if (pwInput.touched && !pwInput.valid) {
      <p class="my-2 text-red">Introduce tu contraseña.</p>
      }
      <div class="flex justify-center">
        @if (registerForm.valid && !isLoading) {
        <button class="w-full p-4 text-center text-white bg-primary">
          Crear cuenta
        </button>
        } @if(isLoading) {
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          viewBox="0 0 24 24"
        >
          <path
            fill="#89adad"
            d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"
          >
            <animateTransform
              attributeName="transform"
              type="rotate"
              dur="0.75s"
              values="0 12 12;360 12 12"
              repeatCount="indefinite"
            />
          </path>
        </svg>
        }
      </div>
    </form>
  </div>
  <div id="register-form-new" class="mt-12">
    <button
      class="w-full p-4 text-center text-primary bg-white border-2 border-primary"
    >
      <a routerLink="/auth/login">¿Ya tienes una cuenta?</a>
    </button>
  </div>
</section>
